<ion-view view-title="Chat" class="chatview">

  <ion-content scroll="false">
	  <div class="item item-input-inset messagebox">
	    <label class="item-input-wrapper">
	      <textarea elastic placeholder="Type a message here" ng-model="entity.message" ng-maxlength="200" maxlength="200"></textarea>
	    </label>
	    <button class="button button-fab button-balanced icon ion-paper-airplane" on-touch="sendMessage()"></button>
	  </div>

	  <ion-content scroll="true" id="chatscroll">

		<ul class="list chat messages-list">

			<li class="item" ng-repeat="(key, msg) in chat.messages" ng-class="msg.ownerId==user.id ? 'me' : ''" on-last-repeat>
		    	<small><span ng-bind-html="msg.ownerId==user.id ? 'Me' : ( chat.contact1.id==user.id ? chat.contact2.name : chat.contact1.name )"></span> - <span ng-bind-html="msg.timestamp | tsToTime"></span></small>
		    	<p>{{msg.message}}</p>
			</li>

		</ul>

	  </ion-content>

  </ion-content>
</ion-view>
