<ion-view view-title="{{ user.name.split(' ')[0] }}'s contacts" class="contactsview" can-swipe-back="false" hide-back-button="true">

  <ion-content>
      <div ng-init="getAllContacts()" id="contactslist">
          <div id="searchquery" ng-if="query.nome">
            <span>Results for <b>{{query.nome}}</b></span>
            <a class="icon ion-close-circled" on-touch="removeSearch()"></a>
          </div>
          <div class="row row-top" ng-if="contacts.length">
              <ion-list>
                    <div class="col col-50" ng-repeat="contact in contacts | orderBy:contact.id | filter:query.nome">
                        <ion-card>
                            <ion-clickable ng-click="loadContactChat(contact)">
                              <picture>
                                  <img ng-src="{{contact.picture_profile_url}}" />
                                  <span class="icon ion-chatbubble"><span>{{contact.unreadMessages}}</span></span>
                              </picture>
                              <ion-cardname>{{contact.name}}</ion-cardname>
                              <ion-lastmsg ng-bind-html="contact.lastmsg ? contact.lastmsg : 'No messages sent yet.'"></ion-lastmsg>
                            </ion-clickable>
                            <ion-cardfooter>
                                <div class="row">
                                  <div class="col col-50">
                                    <a class="icon ion-email" on-touch="showContactEmail('{{contact.email}}')"></a>
                                  </div>

                                  <div class="col col-50">
                                    <span><span class="icon ion-ios-checkmark-outline"></span> 22:15</span>
                                  </div>
                                </div>
                            </ion-cardfooter>
                        </ion-card>
                    </div>
              </ion-list>
          </div>
      </div>
  </ion-content>

</ion-view>

