<ion-view view-title="Hootchat start" can-swipe-back="false" hide-back-button="true" hide-nav-bar="true">

  		<ion-loginscreen ng-hide="socialLogin">
  			<img id="logofull" src="img/logo.png" class="animate-if" />

  			<h2>Sign in with your social account</h2>

  			<ul id="socialbuttons">
  				<li ng-controller="facebookLoginCtrl" ng-click="fbloginstart()">
  					<span class="icon ion-social-facebook"></span>Facebook</li>
  				<li ng-controller="foursquareLoginCtrl" ng-click="fsloginstart()">
  					<span class="icon ion-social-foursquare"></span>Foursquare</li>
  			</ul>
  		</ion-loginscreen>

  		<ion-loginscreen ng-show="socialLogin">
  			<ion-spinner id="startloading"></ion-spinner>
  			<h2>Signing in...</h2>
  		</ion-loginscreen>

</ion-view>
