<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> <span>Back</span>
  </ion-nav-back-button>

    <ion-nav-buttons side="right">
         <button class="button button-clear icon ion-search animate-if" on-touch="searchContacts()" ng-if="toggleLogo"></button>
         <button class="button button-clear icon ion-plus-circled animate-if" on-touch="addContacts()" ng-if="toggleLogo"></button>
    </ion-nav-buttons>

  <img id="logo" src="img/logomini.svg" ng-if="toggleLogo" class="animate-if" />

</ion-nav-bar>

<ion-nav-view name="viewport"></ion-nav-view>