body {
  font-family: RobotoDraft, Roboto, Helvetica Neue, sans-serif; 
}

ul.messages-list{
    overflow: auto;
    margin: 0;
}
ul.messages-list li{}
ul.messages-list li small{
  color: #03A9F4;
}
ul.messages-list li p{
    text-overflow: initial;
    overflow: visible;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    white-space: normal;
}
ul.messages-list li.item.me{
  float:right;
  text-align:right;
}
ul.messages-list li.item{
    width: 90%;
    margin: 3px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    float: left;
}
ion-view{
    background: url(../img/chatbg.png) #FFF;
}
ion-view.chatview .scroll-content-false {
    margin-bottom: 80px;
}
.messagebox{
  background: #FFF;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  margin-top: -80px;
}

div.messagebox.item-input-inset .item-input-wrapper textarea{
    min-height: 40px;
    line-height: 25px;
    width: 100%;
    text-overflow: initial;
    overflow: visible;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    white-space: normal;
    height: 40px;
    background: none;
}

div#contactslist {}
div#contactslist ion-list {
    display: block;
    overflow: auto;
    width: 100%;
}
div#contactslist ion-card{
    display: block;
    overflow: visible;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    margin: 40px 0 0 0;
}
div#contactslist picture{
    display: block;
    text-align: center;
    position: relative;
}
div#contactslist picture img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 4px solid #5cb85c;
    margin: -30px 0 0 0;
    background: #46b8da;
}
div#contactslist picture > span{
    position: absolute;
    font-size: 30px;
    color: #46b8da;
    top: -15px;
    left: 50%;
    margin-left: -68px;
}
div#contactslist picture > span span{
    font-size: 12px;
    color: #FFF;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    text-align: center;
}
div#contactslist {}
div#contactslist ion-cardname{
    display: block;
    padding: 5px 0px 10px;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: -0.6px;
    border-bottom: 1px solid #eee;
    margin: 0 10px 10px;
}
div#contactslist ion-lastmsg{
    display: block;
    padding: 0 12px 12px;
    font-style: italic;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#contactslist ion-cardfooter{
    display: block;
    background: #F5F5F5;
    border-radius: 0 0 5px 5px;
    color: #888;
}
div#contactslist ion-cardfooter a{
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #888;
    line-height: 22px;
}
div#contactslist ion-cardfooter span{
    line-height: 22px;
    display: block;
    text-align: right;
}
div#contactslist ion-cardfooter span span{
    color: #449d44;
    display: inline;
}
div#contactslist div.col.col-50{display: inline-block;}
span.back-text , button.back-button span{
    display: none !important;
}
ion-header-bar.bar.bar-header div.title.header-item{
    height: 55px;
    line-height: 55px;
    right: 0 !important;
    left: 40px !important;
    color: #FFF;
}
ion-header-bar.bar.bar-header{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    background-color: #00AEEF;
    height: 55px !important;
}
img#logo{
    position: absolute;
    height: 30px;
    width: auto;
    z-index: 999;
    top: 12px;
    left: 12px;
    image-rendering: auto;
}
 .animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.animate-if.ng-enter {
    opacity: 0;
}
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}
.animate-if.ng-leave {
    opacity:1;
}
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}
ion-header-bar.bar.bar-header .button.button-clear{
    color: #FFF;
}
ion-header-bar.bar.bar-header .button{
    height: 55px;
    max-height: 55px;
    line-height: 55px;
}
.popup-container.popup-showing.large > div.popup{
    width: 95%;
    padding-bottom: 10px;
    background-image: url(../img/bar.svg);
    background-size: 110% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.popup-container.popup-showing.large > div.popup > div.popup-body > input{
    padding: 10px 15px;
    height: 40px;
}
ion-view[hide-nav-bar="true"]{background: url(../img/bgLogin.svg) #F6F6F6;background-size: cover;}

ion-view.pane {}
img#logofull{
    width: 60%;
    display: block;
    margin: 0 auto;
}
ion-loginscreen {
    display: block;
    width: 100%;
    overflow: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    min-height: 50px;
}
ion-loginscreen h2{
    font-size: 16px;
    text-align: center;
    padding: 40px 0 20px 0;
}
ion-loginscreen ul{
    width: 250px;
    margin: 0 auto;
    display: block;
}
ion-loginscreen li{line-height: 40px;margin-bottom: 10px;background-color: #886aea;color: #FFF;font-size: 16px;font-weight: 300;transition: all 0.3s linear;}
ion-loginscreen li span{
    line-height: 40px;
    display: inline-block;
    width: 40px;
    margin: 0 10px 0 0;
    border-right: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    font-size: 18px;
}
ion-loginscreen li:first-child{
    background-color: #3b5998;
}
ion-loginscreen li:last-child{
    background-color: #F94877;
}
ion-loginscreen li:active , ion-loginscreen li:hover{
    padding: 10px 0;
    margin: 0 -10px 10px;
}
#startloading{
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto;
}
#startloading svg{
    height: 50px;
    width: 50px;
}
ion-content.has-header{top:55px}
div#searchquery {
    display: block;
    width: 96%;
    margin: 10px auto;
    background: #FFF;
    padding: 10px;
    overflow: auto;
}
div#searchquery span{
    width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    line-height: 24px;
}
div#searchquery a{
    display: inline-block;
    float: right;
    color: #B94242;
    font-size: 24px;
}
